<div class="main_left">
  <ul>
    <li class="li_name">
    <%= image_tag "home.png", class:"li-pict" %>
    <%= link_to "ホーム", root_path, class: "li_name_btn" %>
    </li>
    <li class="li_name">
      <%= image_tag "mypage.png", class:"li-pict" %>
      <%= link_to "マイページ", root_path, class: "li_name_btn" %>
    </li>
    <li class="li_name">
      <%= image_tag "create.png", class:"li-pict" %>
      <%= link_to "掲示板作成", new_room_path, class: "li_name_btn" %>
    </li>
    <li class="li_name">
      <%= image_tag "favorite.png", class:"li-pict" %>
      <%= link_to "お気に入り", root_path, class: "li_name_btn" %>
    </li>
    <li class="li_name">
      <%= image_tag "category.png", class:"li-pict" %>
      <%= link_to "カテゴリー", root_path, class: "li_name_btn" %>
    </li>
    <li class="li_name">
       <%= image_tag "event.png", class:"li-pict" %>
       <%= link_to "イベント", root_path, class: "li_name_btn" %>
     </li>
    <li class="li_name">
       <%= image_tag "news.png", class:"li-pict" %>
       <%= link_to "ニュース", root_path, class: "li_name_btn" %>
     </li>
    <li class="li_name">
      <%= link_to "cluster", root_path, class: "cluster_btn" %>
    </li>
    <li class="li_name">
      <%= link_to "Instagram", root_path, class: "instagram_btn" %>
    </li>
    <li class="li_name">
      <%= link_to "Twitter", root_path, class: "twitter_btn" %>
    </li>
  </ul>
</div>
