<%= render "shared/header" %>

<div class="session_outer">
  <%= render "shared/side" %>
  <div class="session_main">
    <div class="session_menu">
      <div class="session_title">
      Log in
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="actions">
      <%= f.check_box :remember_me %>
      <%= f.label :自動ログイン %>
      </div>
      <% end %>

      <div class="actions">
      <%= f.submit "ログイン" %>
      </div>
      <% end %>
      <div class="actions">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
