<div class="boards">

  <div class="board_main">

    <div class="board_image">
      <%= image_tag room.image.variant(resize: '100x100') ,class:"" if room.image.attached? %>
    </div>

    <div class="board_right">
      <div class="board_right_top">
        <div class="board_title">
          <%= link_to room.room_name, room_messages_path(room) %>
        </div>
        <div>
          <div class="board_edit">
          編集
          </div>
          <div class="board_delete">
          削除
          </div>
        </div>
      </div>
      <div class="board_sub">
        <div>
        <%= room.category.category %>
        </div>
        <div>
        管理者：
        <%= room.user.nickname %> /
        <%= l room.created_at %>
        </div>
      </div>
    </div>

  </div>

</div>
