<div class=''>
  <h1>新規掲示板作成</h1>
  <%=form_with model: @room, local: true do |f|%>
      <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">掲示板画像</label>
    </div>
    <%= f.file_field :image, class: 'hidden' %>
  </div>

    <div class=''>
      <div class=''>
        <%= f.label :room_name, :掲示板名, class: ''%>
      </div>
      <div class=''>
        <%= f.text_field :room_name, class: '', placeholder: '掲示板名を入力してください'%>
      </div>
    </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">掲示板内容</label>
    </div>
    <%= f.text_area :content, class:"input-default", placeholder:"例) 交流しませんか？", maxlength:"118" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カテゴリー</label>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :category, {}, {class:"category-select"}) %>
  </div>


    <div class=''>
      <div class=''>
        <%= f.submit class: ''%>
      </div>
    </div>
  <% end %>
</div>
